body {
    background: var(--darkpurple);
}

  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .jumbotron {
      vertical-align: center;
  }

  .carousel-caption{
    display: inline-block;
    height: 100%;
    vertical-align:middle;
  }

  .carousel-inner{
      position: relative;
  }

  #headShot {
      margin-right: 0;
  }
  
  .carousel-caption{
    top: 25%;
  }

.fart{
    height: 19em;
}

.card-image {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

@font-face {
    font-family: warcraft;
    src: url(../assets/fonts/LifeCraft_Font.ttf);
}
