nav {
    font-family: warcraft;
    color: var(--darkpurple);
}

.navbar-nav{
    text-align: right;
}

/* .navbar-brand {
    color: white;
    font-family: var(--font-three);
}

.nav-item a {
    color: white;
    font-family: var(--font-two);
} */