:root {
    --darkpurple: #573B6A;
    --moss-green: #9E9054;
    --beige: #7E944F;

    --font-one: font-family: 'Unlock', cursive;
    --font-two: font-family: 'Orbitron', sans-serif;
    --font-three: font-family: 'Press Start 2P', cursive;
}